*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
.title{
  text-align: center;
  margin-bottom: 150px;
}
.card{
  width: 350px;
  height: 450px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  background-color: rgb(70, 155, 241);
  border-radius: 10px;
}
img{
  width: 250px;
  height: 200px;
}
.container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 10px 100px;
  margin: 0 auto;
}
button{
  width: 150px;
  height: 25px;
  background-color: orange;
  cursor: pointer;
  border: none;
  border-radius: 15px;
}
